<a href="https://colab.research.google.com/github/deepraj02/Python_projects/blob/master/Projects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("Enter any number:- \n"))
for i in range(n+1):
  if i%5==0 and i%3==0:
    print("This number is divisible by 5 and 3")
    continue
  elif i%5!=0 and i%3==0:
    print("This number is divisible by 3 but not by 5")
    continue
  elif i%5==0 and i%3!=0:
    print("This number is divisible by 5 but not by 3")
    continue

  print(i)

In [ ]:
def oddeven(lst):
    new_list=[]
    for i in lst:
        if i%2==0:
            new_list.append(i//2)
        else:
            new_list.append(i*2)
    print(new_list)
lst=[12,34,55,67,90,86]
oddeven(lst)

[6, 17, 110, 134, 45, 43]

In [ ]:
def fuck():
    even=0
    odd=0
    for i in tup:
        if i%2==0:
            even+=1
        else:
            odd+=1
    print(f"The Number of Even Numbers in the Tuple is = {even}")
    print(f"The Number of Odd Numbers in the Tuple is = {odd}")

tup=(12,34,55,77,90,105,22,11,55,9,56)
fuck()

The Number of Even Numbers in the Tuple is = 5
The Number of Odd Numbers in the Tuple is = 6

In [ ]:
e=100
w=12
r=4
print("This is",e,"and this is ", w , "and this is ",r)
print(f"This is {e} and this is {w} and this is {r}")

This is 100 and this is  12 and this is  4
This is 100 and this is 12 and this is 4

In [ ]:
def dic():
    dkey=int(input("Enter any Key"))
    dval=input("Enter the Value")
    my_Dict.update({dkey:dval})

my_Dict={1:"Heta",2:"Lund",3:"Mia Khalifa"}
dic()
print("Dictionary after Update is-- ")
print(my_Dict)

In [ ]:
def vowel(str1):
    vowel=0
    for i in str1:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            vowel+=1
    print(f"No. of Vowels in The string is = {vowel}")

str1=input("Enter a String:-- ")
vowel(str1)

Enter a String:-- my name is deepraj
No. of Vowels in The string is = 6

In [ ]:
import this
#Will Print some Fuckin Awesome Poems

In [ ]:
list=[12,23,45,54]
list.pop(0)
list.append(32)
list.insert(3,60)
print(list)

[23, 45, 54, 60, 32]

In [ ]:
#Sorting
a=[1,5,0,-1,8]
count=0
for i in range(len(a)):
    for j in range(1,len(a)):
        if a[j-1]>a[j]:
            count+=1
            a[j-1],a[j]=a[j],a[j-1]
print(a)
print(f"The no. of times the list was swapped is {count}")

[-1, 0, 1, 5, 8]
The no. of times the list was swapped is 5